* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

:root {


  --main-font: 'Roboto', sans-serif;
  --title-font: 'Roboto Slab', serif;

  /* background-image: url('https://i.stack.imgur.com/kx8MT.gif'); */
  background-color: rgb(49, 93, 82);
 

  
}



body {
  font-family: var(--main-font);
  font-weight: 300;
  background-color: var(--black-color);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.intro{

 position: relative;
 bottom: 100px;


}

.intro-info {
 
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
 
  
 
  
 
}

.intro-info p,
 #contact
{
  font-size: 20px;
  font-weight: bolder;
  font-style: italic;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0px 50px 10px 50px;

}

#contact
{
  background-image: url('./public/event12.jpg');
 
background-size:1250px 800px;
border: transparent;
  border-radius: 10px;
  font-size:30px;
}

.contact-info p,.contact-info h2,.contact-form,a,.address{
 
  font-size: 30px;
  color: #f9faf9;
  text-shadow: 2px 0px 4px #0e0f01;
 
 
}


.intro-img
{

  width: 50%;
  

  
}
.intro-img img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  box-shadow: 15px 20px 30px cyan;
  height: 300px;
  width: 250px;
  border-radius: 50px;
 
  
  
 

  
}



/* start styles to <footer> */
footer {
  background: #656b6a;
  font-weight: bold;
  width: 100%;
  height: 70px;
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;


}

footer h2 {

  color: #111212;
  font-size: 15px;
  margin: 0;
}

footer p {
  color: #1c2020;
  font-size: 15px;
  margin: 0;
  text-align: center;

}

footer div {

  line-height: 1.5;
  /* text-align: right; */
}

footer a {
  color: #75BFB2;
}

footer a:hover {
  color: #328C83;
  transition: .5s ease;
}

.logo {
  cursor: pointer;
  list-style: none;
  font-size: 40px;
  color: #0E5259;
  display: inline-block;
}

.logo:hover {
  color: #328C83;
  opacity: 0.5;
  transition: .5s ease;
}

.main-header header
{

 padding: 20px;

color: rgb(32, 29, 29);
 display: flex;
 justify-content: space-between;
 background-image: url('./public/ca phe.png');

 box-shadow: 15px 20px 30px cyan;
 
} 

.text-center
{

  position: relative;
  bottom: 120px;
  
 
}

h1, h2, h3, h4, h5, h6, p
{
  color: white;
}

.small-quote h1 {

  font-family: "Montserrat Medium";
  max-width: 20ch;
  text-align: center;
  transform: scale(0.5);
  animation: scale 8s  cubic-bezier(0.5, 1, 0.89, 1);
  position: relative;
  left: 380px;
  text-shadow: #FC0 1px 0 10px;
  bottom: 150px;
  color: rgb(15, 15, 14);
  
}
@keyframes scale {
  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.5);
  }
}

.small-quote span {
  display: inline-block;
  filter: blur(5px);
  animation: fade-in 1.5s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.small-quote h1:hover{
  animation: fade-in 1.5s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
  
}


.nav{
  background-color: rgb(26, 27, 23);
}

.small-quote span:hover {
  filter: blur(5px);
  animation: fade-in 1.5s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}




@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}


.main-portfolio{

  display: flex;
  margin-top: -50px;
 flex-direction: column;
 

 row-gap: 50px;
 align-items: center;

  
  

}

.img-singlecoffee img
{
  width: 100%;
 height: 700px;
}

.main-portfolio h4{
  display: flex;
  justify-content: center;
  font-size: 70px;
  font-style: oblique;
      width:35rem;
  
}

.grid-portfolio
{
  height:fit-content;
  width: fit-content;
  display: grid;
  column-gap: 200px;
  margin: 10px;

  grid-template-columns: auto auto auto;

  
 

 
}


  
  .grid-item, h3 {
    background-image: url("giphy.gif");
    margin-top: 2%;
    margin-bottom: 10%;
    box-shadow: 15px 20px 30px cyan;
    border-radius: 50px;
    color:white;
    font-style: italic;
    

  }
  .grid-item img, .grid-item h3
  {
  
    object-fit: cover;
    border-radius: 60px;
    opacity: 0.8;
    border: 3px solid rgba(128, 11, 11, 0.8);
    display: flex;
    justify-content: center;
    width:30rem;
    margin-top: 30%;
  
    
  }

  #google-map
  {
    display: flex;
    justify-content: center;
  }


.row 
{
  
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  
  
}

.neonText {
  color: #fff;
  text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
}



.neon{
  position: relative;
  bottom: 10px;
  font-family: 'Monoton', cursive;
  font-size:80px;
  color: #FFD5FF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 400;
  letter-spacing: 8px;
  text-shadow: 1px 0px 4px #FFD5FF, 2px 0px 4px #FFD5FF, 3px 0px 4px #FFD5FF, 2px 0px 3px #D42CCA, 2px 3px 15px #D42CCA, 2px 0px 15px, 5px 0px 125px, 20px 0vw 200px #D42CCA,40px 0vw 200px #D42CCA;
}

.flicker-slow{
  animation: flicker 3s linear infinite;
}

.flicker-fast{
  animation: flicker 1s linear infinite;
}

@keyframes flicker {
	0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
		text-shadow: none;
    opacity: .99;
		
	}
	20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
		opacity: 0.4;
	}
}









.profileCoffee h1
{
  color: black
}
.bio-story
{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
}

/* The user's cursor is positioned over the element   */
   .grid-item img:hover {
    border: 10px solid black;
    opacity: 1.0; 
   
  }


  .Main-Text:hover + .Extra-Text {
    display: block;
    background-color: #009BFF;
}

.Extra-Text {
    background-color: #FFFFFF;
    margin-top: 10px;
    margin-left: 8px;
    width: 400px;
    border: 2px solid #000000;
    padding: 5px;
    font-size: 16px;
    display: none;

  
   
} 


/* contact-css */
  
.contact-form {
  padding-right: 10%;
}

.contact-form button:hover {
  color: #F2E3D5;
  background: #39a6b2;
}

.contact-form input,
.contact-form textarea {
  border: 1px solid #024e76;
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: #024e76;
  width: 100%;
  margin-bottom: 15px;
  margin-top: 5px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.75);

}


.contact-form input:focus,
.contact-form textarea:focus {
  background-color: rgba(255, 255, 255, 1);
  outline: none;
}

.contact-form button {
  width: 100%;
  border: none;
  background: #F2E3D5;
  color: #024e76;
  text-align: center;
  padding: 15px 0;
  font-size: 25px;
  border-radius: 10px;



}

#reach-out {
  /* margin-top: 5px; */
  background: #75BFB2;
}

#reach-out h2 {
  color: #0E5259;
}

.contact h2 {
  color: #F2E3D5;
}

.contact-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}










center h1{
  color: white;
  margin-top: 20px;
  padding-top: 5px;
  font-style: italic;
  font-family:Georgia, 'Times New Roman', Times, serif;

}
.solid-line {
  border-bottom: 2px solid #c00d0d;
  width: 50%;

}

.downLoad{
  background-color: black;
}

.downLoad-btn {
  margin: 50px;
  border-radius: 100px;
  padding: 10px 30px;
  font-size: 20px;
  color: #fff;
  text-align: center;
  line-height: 20px;
  border: none;
  background: linear-gradient(-90deg, #CF77F3 0%, #009BFF 47%, #2AC9DB 100%);
  position: relative;
  transform-style: preserve-3d;
  
}

/* Darker background on mouse-over */
.downLoad-btn:hover {

  background: linear-gradient(-90deg, #313032 0%, #0f9b40 47%, #200b14 100%);
  color: orangered;
}

.downLoad-btn:before {
  content: "";
  position: absolute; 
  inset: -10px;
  background: inherit;
  filter: blur(20px);
  transform: translate3d(15px,15px,-1px);
  border-radius: inherit;
  pointer-events: none;
}




 .card-download
{
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  width: fit-content;
  column-gap: 150px;
  row-gap: 40px;
 
  justify-content: center;

  

}
.cardList-download {



border-radius: 50px;
height: 30%;
margin: 20px;
padding: 40px;

background:  linear-gradient(-70deg, #0202d8 0%, #edf6f0 47%, #596f7c 100%);
font-size: large


}






.t1{
  margin: 300px;
  content:"4343";
  width: 100px;
  height: 100px;
  border-radius: 8px;
  background-image: linear-gradient(
    -75deg, blue, red, yellow);
      position: absolute;
      z-index: -1;
      top:-1%;
    left: -2%;
    box-shadow: 15px 20px 30px rgb(33, 187, 187);
    opacity: 0.8;
    animation: spin 5.5s linear infinite;
}

.t1:hover{
  transition: 3s ease-in-out;
  border-radius: 50%;
}



/* h1 {
  background: linear-gradient(75deg,#dae906,#da262e,#190aeb);
  font-weight: 600;
  background-size: 200% auto;

  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animatedTextGradient 10s ease infinite;
  -webkit-background-clip: text;
   
 
} */



@keyframes animatedTextGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}



@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}






.yin-yang {
  width: 96px;
  box-sizing: content-box;
  height: 48px;
  background: #eee;
  border-color: rgb(13, 13, 13);
  border-style: solid;
  border-width: 2px 2px 50px 2px;
  border-radius: 100%;
  position: relative;
  animation: spin 5.5s linear infinite;
}
.yin-yang:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  background: #eee;
  border: 18px solid rgb(10, 10, 10);
  border-radius: 100%;
  width: 12px;
  height: 12px;
  box-sizing: content-box;
  
}



.yin-yang:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  background: rgb(16, 16, 16);
  border: 18px solid #eee;
  border-radius: 100%;
  width: 12px;
  height: 12px;
  box-sizing: content-box;
}



.time-display
{
  margin: 50px;
  border-radius: 150px;
  padding: 10px 30px;
  font-size: 20px;
  color: #fff;
  text-align: center;
  line-height: 20px;
  
  background: linear-gradient(-90deg, #0e0e0e 0%, #020c60 47%, #0a0a0a 100%);
  position: relative;
  transform-style: preserve-3d;
  left: 60px;
 
  box-shadow:1px 1px 05px 0px;
  
}
.time-display:before {
  content: "";
  position: absolute; 
  inset: -10px;
  background: inherit;
  filter: blur(20px);
  transform: translate3d(15px,15px,-1px);
  border-radius: inherit;
  pointer-events: none;
}


.box1
{
  box-shadow: 15px 20px 30px cyan;
  height: 200px;
  width: 200px;
  border-radius: 50px;
  background:#775d4f;
    opacity: 0.5;
}